<!--<div class="card text-white bg-success">-->
<!--  <div class="card-header bg-light">-->
<!--    {{ comment.email }}-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{ comment.name }}</h5>-->
<!--    <p class="card-text">{{ comment.body }}</p>-->
<!--  </div>-->
<!--</div>-->

<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        {{ comment.name }}
      </div>
      <div class="col-md-8">
        <p class="card-text">{{ comment.body }}</p>
      </div>
    </div>
  </div>
</div>
